/* <style> */
.header{
    display: flex;
    justify-content: center;
    :first-child,:last-child{
        flex-basis: 10px;/* 要素幅を均等にするためのダミー値。実際の幅はgrowで変動 */
        flex-grow: 1;
        flex-shrink: 1;
    }
    :last-child{
        text-align: right;
    }
}
/* </style> */