/* <style> */
    div.selection{
        display: flex;
        > div{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            width: 100%;
            
            a{
                border:1px grey solid;
                border-radius: 5px;
                display: block;
                margin: 1px 1%;
            }
        }
    }
/* </style> */