/* <style> */
    .header{
        display: flex;
        justify-content: center;
        :first-child,:last-child{
            flex-basis: 10px;/* 要素幅を均等にするためのダミー値。実際の幅はgrowで変動 */
            flex-grow: 1;
            flex-shrink: 1;
        }
        :last-child{
            text-align: right;
        }
    }
    *:has(> table){
        overflow: auto;
    }
    table{
        border-spacing: 1px;
        background:gray;
        width:100%;
        *{
            /* border: 0.5px grey solid; */
            background: white;
        }
        td{
            white-space: nowrap;
            max-width: 70em;
            text-overflow: ellipsis;
        }
        .subtitle > td, td.subtitle{
            background: linear-gradient(lightblue,lightskyblue);
            font-weight: bold;
            color:navy;
            text-shadow:none;
        }
        .color_y input{
            border-color:goldenrod;
            /* color:goldenrod; */
            /* text-shadow:
            1px 1px 1px black, -1px -1px 1px black,
           -1px 1px 1px black,  1px -1px 1px black; */
        }
    }
    button.rakbtn{
        background: linear-gradient(lightblue,lightskyblue);
        font-weight: bolder;
        color: cadetblue;
        color: steelblue;
        color: lightsteelblue;
        color: dodgerblue;
        color: teal;
        color:white;
        border:gray;
    }
/* </style> */